body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: hwb(0 11% 89%);
    margin-right: 20px;
    text-decoration: none;
}

.cv,
.github,
.tg {
    font-size: 18px;
    color: #333;
    margin-right: 20px;
    text-decoration: none;
}

.nav-link {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    list-style-type: none;
}