body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 10px 100px;
    max-height: 1000px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: hwb(0 11% 89%);
    margin-left: 0px;
    text-decoration: none;
}

.blog,
.cv,
.github,
.tg {
    font-size: 18px;
    color: #333;
    margin-right: 0px;
    text-decoration: none;
}

.nav-link {
    display: flex;
    justify-content: flex-start;
    gap: 36px;
    list-style-type: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
    }
    
.text-section {
    max-width: 50%;
    }
    
.text-section .label {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 15px;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 20px;
    }
    
.text-section h1 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 20px;
    }
    
.text {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
    }
    

.image-section img {
        border-radius: 10px;
        max-width: 350px;
        height: auto;
        object-fit: cover;
    }


