@media only screen and (max-width: 600px) {
    body {
        padding: 10px 20px;
    }

    .nav-link {
        display: none;
        flex-direction: column;
        gap: 15px;
        background-color: #f9f9f9;
        position: absolute;
        top: 70px;
        right: 10px;
        width: 200px;
        padding: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    .burger-menu {
        display: flex;
    }

    .nav.active .nav-link {
        display: flex;
    }

    .logo {
        font-size: 20px;
        margin-bottom: 10px;
        position: relative;
    }

    .container {
        flex-direction: column;
        padding: 0px 30px 30px 30px; 
    }

    .text-section {
        position: relative;
        display: flex;
        align-items: center;
        max-width: 100%;
        text-align: center;
    }

    .text-section h1 {
        text-align: left;
        font-size: 53px;
        line-height: 1.2;
        margin: 0;
        padding-bottom: 30px;
    }

    .label {
        display: inline-block;
        padding: 5px 10px;
        background-color: #f0f0f0;
        border-radius: 15px;
        font-weight: bold;
        font-size: 12px;
        margin-left: 20px;
        position: absolute;
        top: 30px;
        right: 5px;
    }

    .text {
        flex-direction: column;
        font-size: 14px;
        text-align: center;
    }

    .image-section img {
        max-width: 100%;
        border-radius: 15px;
        /* padding-top: 30px; */
    }
}